<% provide(:title, "Create a Caring Team") %>

<div>Who would you like to invite to this caring team for <%= @cared_objects.name %>?</div>

<%= form_tag("/invitations/", :method => :post, :class => "form") do %>
  <%= label_tag('invitation[email]', "Email:") %>
  <%= text_field_tag('invitation[email]') %>
  <%= submit_tag "Send Email" %>
<% end %>

<%= button_to "Back", "index" %>


$$$

<% provide(:title, "Create a Caring Team, Step Two") %>

<div>Who would you like to invite to this caring team for <%= @cared_objects.name %>?</div>

<%= form_tag("/invitations/", :method => :post, :class => "form") do %>
  <%= label_tag('invitation[email]', "Email:") %>
  <%= text_field_tag('invitation[email]') %>
  <%= submit_tag "Send Email" %>
<% end %>




<li><%= link_to "Create New Team", "/teams/new" %></li>