<div class="row">
  <div class="task-list-claimed-alert">
    <%= render "tasks/claimed_tasks" %>
  </div>
</div>

<div class="row">
  <div class="task-list-missed-deadline-alert">
    <%= render "tasks/overdue_tasks" %>
  </div>
</div>

<div class="row">
  <div class="task-list-active">
    <%= render "tasks/active_tasks" %>
  </div>
</div>

<div class="row">
  <div class="task-list-complete">
    <%= render "tasks/completed_tasks" %>
  </div>
</div>

<div class="row">
  <div class="small-8 small-centered large-centered columns task-maker">
    <%= render "tasks/task_create" %>
  </div>
</div>

<script type="text/javascript">
  var lists = $('.list');
  for (var i = 0; i < lists.length; i++) {
    checkChildren(lists[i]);
  }
</script>