
<% if @user.teams %>
	<ul> Your current teams:
		<% @user.teams.each do |team| %>
		<li><%= link_to team.name, "/teams/#{team.id}" %></li>
		<% end %>
	</ul>
<% else %>
	<ul> No current teams.
	</ul>
<% end %>

<% if @pending_invites %>
	<ul> Your pending teams:
	<% @pending_invites.each do |invite| %>
		<li>
			<%= invite.team.name %>
      <%= button_to "Accept Invitation", "/invitations/#{invite.id}", :method => :delete %> 
      <%= button_to "Reject Invitation", "/invitations/#{invite.id}", :method => :put %>
		</li>
	<% end %>
	</ul>
<% end %>

<%= form_tag("/teams/create", method: "post") do %>
  <%= label_tag('team[name]', "Name:") %>
  <%= text_field_tag('team[name]') %>
  <%= submit_tag("Create New Team") %>
<% end %>