<% provide(:title, "Create a Caring Team, Step One") %>

<%= form_tag("/cared_objects/", :method => :post, :class => "form") do %>
  <%= label_tag('cared_objects[name]', "Name:") %>
  <%= text_field_tag('cared_objects[name]') %>
  <%= submit_tag "Start Team" %>
<% end %>




<% provide(:title, "Create a Caring Team, Step Two") %>

<div>Who would you like to invite to this caring team for <%= @cared_objects.name %>?</div>

<%= form_tag("/invitations/", :method => :post, :class => "form") do %>
  <%= label_tag('invitation[email]', "Email:") %>
  <%= text_field_tag('invitation[email]') %>
  <%= submit_tag "Send Email" %>
<% end %>



