<div class="icon-bar four-up">
  
  <li>
	  <%= link_to '<i class="fa fa-home fa-2x fa-fw"><label>Home</label></i>'.html_safe, root_path, :class => "item" %>
  </li>

	<li class="has-dropdown">
	<%= link_to '<i class="fa fa-at fa-2x fa-fw"><label>Contact</label></i>'.html_safe, "#", class: 'item' %>

		<ul class="dropdown">
			<li>
				<%= link_to '<i class="fa fa-paper-plane fa-fw"><label>Mail Us</label></i>'.html_safe, root_path %>
			</li>
			<li>
				<%= link_to '<i class="fa-facebook fa-fw"><label>Facebook Us</label></i>'.html_safe, root_path %>
			</li>
			<li>
				<%= link_to '<i class="fa-twitter fa-fw"><label>Tweet Us</label></i>'.html_safe, root_path %>
			</li>			
    </ul>
  </li>

	<%= link_to '<i class="fa fa-paw fa-2x fa-fw"><label>About</label></i>'.html_safe, root_path, class: 'item' %>
  
	<%= link_to '<i class="fa fa-sign-out fa-2x fa-fw")><label>Sign Out</label></i>'.html_safe, "/users/sign_out", :method => :delete, class: 'item' %>