<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">

    <title><%= content_for?(:title) ? yield(:title) : "ShareCare" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="row clearfix">
    <div class="small-9 small-centered large-centered columns">
    <div class="navbar_center"><%#= render "layouts/navbar" %></div>    
    </div>
  </div>

  <div class="row clearfix">
    <div class="small-9 small-centered large-centered columns">
    <div class="message_center"><%= render "layouts/message_center" %></div>
    </div>
  </div>

  <div class="row main-body-panel-container clearfix">
    <div class="small-9 small-centered large-centered columns">
    <%= yield %>
    </div>
  </div>  
  
  <%= javascript_include_tag "application" %>
  </body>
</html>

